<div class="container-fluid offer text-center mt-5 pt-2">
  <h1 class="mb-5">What you can do ?</h1>
  <div class="row">
    <div class="col-md-4" data-aos="fade-up">
      <img src="../../../assets/img/login.jpg" alt="login" class="offer-img" class="rounded-circle offer-img">
      <p class="lead mt-3">1. <span class="text-red">Register</span> and <span class="text-red">Login</span> yourself
      </p>
    </div>
    <div class="col-md-4" data-aos="fade-down">
      <img src="../../../assets/img/create-task.jpg" alt="create-task" class="offer-img"
        class="rounded-circle offer-img">
      <p class="lead mt-3">2. <span class="text-red">Create</span> your own tasks</p>
    </div>
    <div class="col-md-4" data-aos="fade-up">
      <img src="../../../assets/img/complete-task.jpg" alt="complete-task" class="offer-img"
        class="rounded-circle offer-img1">
      <p class="lead mt-3">3. Manage your tasks <span class="text-red">effortlessly</span></p>
    </div>
  </div>
  <section class="img-offer text-center p-5">
    <h5 class="display-6 mb-5">Create tasks, add label, set priority, add due dates, search, sort and perform many
      other operations.
    </h5>
    <img src="../../../assets/img/ss2.png" alt="Offer" id="offer-ss" data-aos="fade-up">
  </section>
</div>
