.offer {
  background: #f1f2f6;
}

.offer-img {
  width: 200px;
}

.offer-img1 {
  width: 275px;
}

.text-red {
  color: #eb4d4b;
}

.img-offer {
  width: 100%;
  height: 100%;
  background: #eb4d4b;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
}

#offer-ss {
  width: 80%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #offer-ss {
    width: 100%;
  }
}
