<div class="container hero">
  <div class="row">
    <div class="col-md-7 text-center p-5 hero-text">
      <h1><i class="fab fa-servicestack"></i> Tracker</h1>
      <p class="lead">Create, manage and track your tasks at ease!</p>
      <div class="btn-container">
        <button class="btn" routerLink="/register">Sign Up</button>
        <button class="btn1" routerLink="/login">Login</button>
      </div>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="col-md-5 text-center">
      <img src="../../../assets/img/task-home.jpg" alt="hero">
    </div>
  </div>
</div>
