<div class="container">
  <div class="circle1"></div>
  <div class="square1 rotate"></div>
  <div class="square2 rotate"></div>
  <div class="circle2"></div>
  <div class="row">
    <div class="col-md-7 m-auto">
      <div class="card card-body mt-5">
        <h2 class="text-red">Add some description to your task</h2> <br>
        <h4>{{ title }}</h4>
        <form #addDesc="ngForm" (ngSubmit)="addDescription()" >
          <div class="form-group">
            <textarea name="desc" #desc="ngModel" (ngModelChange)="onChange($event)" [(ngModel)]="description">{{ description }}</textarea>
          </div>
          <div class="form-group">
            <button type="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
            <button type="submit" [disabled]="!description" class="btn btn-danger">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
<app-footer></app-footer>
