<div class="container">
  <div class="circle1"></div>
  <div class="square1 rotate"></div>
  <div class="square2 rotate"></div>
  <div class="circle2"></div>
  <div class="row">
    <div class="col-md-10 m-auto">
      <div class="task-manager-container mt-5">

        <!-- Sidebar -->
        <div class="sidebar">
          <div class="head-drop">
            <h3 class="text-red">Lists</h3>
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-wrench"></i></button>
              <div class="dropdown-content" *ngIf="!disabled">
                <a [routerLink]="['/edit-list', selectedListID]"><i class="fas fa-edit"></i> Edit List</a>
                <a (click)="deleteListName()"><i class="fas fa-trash-alt"></i> Delete List</a>
              </div>
            </div>
          </div>

          <!-- List menu -->
          <div class="list-menu">
            <a *ngFor="let list of lists" [routerLink]="['/trackers', list._id]" routerLinkActive="is-active">
              <b>
                <p class="list-menu-item">{{ list.title }}</p>
              </b>
            </a>
          </div>
          <!-- List menu ends here -->

          <button class="btn btn-success add-list" routerLink="new-list">+ New
            List</button>

          <p class="small mt-3"><strong>Note:- Create a list to begin with. Add specific tasks under each list
              you create by clicking or selecting the lists. Hover over the individual tasks to perform different
              operations.</strong></p>
        </div>
        <!-- Sidebar ends here -->

        <!-- Task list -->
        <div class="tasks-list-container">
          <div class="m-3" style="display: flex; justify-content: space-between; align-items: center">
            <h3 class="text-red">Tasks</h3>
            <button class="rounded-btn" routerLink="new-task" [disabled]="disabled"><i
                class="fas fa-plus-circle"></i></button>
          </div>
          <br />

          <div class="row">
            <div class="col-md-6 my-2">
              <input *ngIf="!disabled" type="text" class="form-control" placeholder="Search tasks"
                (input)="searchTask($event.target.value)">
            </div>
            <div class="col-md-6 my-2">
              <select *ngIf="!disabled" [(ngModel)]="selectedSort" (change)="sortByAttributes()" class="form-control">
                <option *ngFor="let sort of sortList" [value]="sort.name">{{ sort.name }}</option>
              </select>
            </div>
          </div>

          <!-- Some messages for UI -->
          <div *ngIf="!hasTask && !disabled" class="text-center">
            <h1 class="text-danger">No tasks!</h1>
            <small>To create a new task, click the <i class="fas fa-plus-circle"></i> button.</small>
          </div>
          <div *ngIf="disabled" class="text-center">
            <p>To create or view any task, please select a list if any. Otherwise create a new list.</p>
          </div>

          <!-- task list elements -->
          <div class="tasks" *ngFor="let task of keyword"
            [ngClass]=" { 'complete': task.completed, 'important': task.isImportant } ">
            <div class="task-list" title="Click or tap the tasks to mark it as completed or viceversa">
              <div (click)="taskClick(task)">
                <div class="name-label">
                  <p><i class="fas fa-file-signature"></i> {{ task.title }}</p>
                  <p *ngIf="task.label !== ''" class="text-info small lead"><i class="fas fa-tags"></i> {{ task.label }}
                  </p>
                </div>
                <div class="text-center mb-2 small lead"
                  [ngClass]=" { 'text-success': task.completed, 'text-warning': !task.completed } ">
                  <i class="far fa-clock"></i>
                  {{task.completed === true ? ' Completed' : ' In Progress'}}
                </div>
                <div class="info-task text-center" *ngIf="task.startingDate || task.endingDate || task.priority">
                  <small title="Starting Date" class="text-success">{{ convertDateToString(task.startingDate) }}</small>
                  &nbsp;&nbsp;
                  <small>--</small> &nbsp;&nbsp;
                  <small title="Ending Date" class="text-success">{{ convertDateToString(task.endingDate) }}</small>
                  &nbsp;&nbsp;
                  <!-- <small title="Priority" class="text-info" *ngIf="task.prioriy === "></small> -->
                  <small title="Priority" class="text-info">Priority -
                    {{ task.priority === 3 ? 'High' : task.priority == 2 ? 'Medium' : 'Low' }}</small>
                </div>
              </div>
              <div class="task-btn">
                <a title="Edit task" [routerLink]="['edit-task', task._id]" class="btn btn-warning"><i
                    class="fas fa-edit"></i></a>
                <a title="Mark or Unmark as important task" (click)="markImportant(task)" class="btn btn-dark"><i
                    class="fas fa-eye" style="color: #fff;"></i></a>
                <!-- <a title="Email task" [routerLink]="['email-task', task._id]" class="btn btn-info"><i
                    class="fas fa-envelope-square"></i></a> -->
                <a title="Set label for the task" [routerLink]="['set-label', task._id]" class="btn btn-info"><i
                    class="fas fa-tags" style="color: #fff;">
                  </i></a>
                <a title="Add Due Dates" [routerLink]="['add-date', task._id]" class="btn btn-secondary"><i
                    class="fas fa-calendar-week"></i></a>
                <a title="Add description" [routerLink]="['add-description', task._id]" class="btn btn-success"><i
                    class="fas fa-sort-alpha-up"></i></a>
                <a title="Delete task" class="btn btn-danger" (click)="deleteTask(task._id)"><i class="fas fa-trash-alt"
                    style="color: #fff;"></i></a>
              </div>
            </div>



          </div>
          <!-- Ends here -->
        </div>
        <!-- Task list ends here -->
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>

<app-footer></app-footer>
