@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.btn {
  background: #eb4d4b;
  outline: none;
  color: #fff;

  &:hover {
    opacity: 0.9;
  }
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: all !important;
}


.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
    color: #eb4d4b;
    font-family: 'Mansalva', cursive;
  }

}

.form-control {
  background: #f1f2f6;
}

.form-control:focus {
  outline: none;
  border: none;
  border-color: 2px solid #dff9fb;
}

.text-red {
  text-transform: uppercase;
  color: #ee5253;
}


.card {
  -webkit-box-shadow: 10px -2px 48px -3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px -2px 48px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 10px -2px 48px -3px rgba(0, 0, 0, 0.45);
}

.circle1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffbe76;
  opacity: 0.3;
}

.circle2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff7979;
  opacity: 0.3;
  position: absolute;
  left: 80%;
}

.square1 {
  width: 40px;
  height: 40px;
  background: #e056fd;
  opacity: 0.3;
  position: absolute;
  left: 25%;
  top: 40%;
}

.square2 {
  width: 40px;
  height: 40px;
  background: #00d2d3;
  opacity: 0.3;
  position: absolute;
  left: 75%;
  top: 85%;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
