<div class="container">
  <div class="circle1"></div>
  <div class="square1 rotate"></div>
  <div class="square2 rotate"></div>
  <div class="circle2"></div>
  <div class="row">
    <div class="col-md-9 m-auto">
      <div class="card card-body mt-5">
        <h2 class="text-red">Add Deadline and Priority to your task</h2> <br>
        <h4 class="py-3">{{ taskTitle }}</h4> <br>
        <form #addDate="ngForm" (ngSubmit)="addDeadline()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-info">Starting Date</span>
            </div>
            <input type="date" class="form-control" name="date1" #date1="ngModel" [(ngModel)]="startingDate">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="input-group-prepend">
              <span class="input-group-text text-info">Ending Date</span>
            </div>
            <input type="date" class="form-control" name="date2" #date2="ngModel" [(ngModel)]="endingDate">
          </div>
          <h4>Set the priority of your task</h4>
          <div class="form-group" *ngFor="let priority of priorityList">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="priorityName" value="{{priority.val}}"
                  (change)="radioChangeHandler($event)">{{priority.name}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-light" routerLink="tracker">Go Back</button>
            <button class="btn btn-danger" [disabled]="!(startingDate && endingDate && priority)">Add Deadline</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
<app-footer></app-footer>
