<div class="container mt-4">
  <div class="circle1"></div>
  <div class="square1 rotate"></div>
  <div class="square2 rotate"></div>
  <div class="circle2"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center pt-5 hero-text">
        <h1><i class="fab fa-servicestack"></i> Tracker</h1>
        <p class="lead">Create, manage and track your tasks at ease!</p>
      </div>
    </div>
    <div class="register-container col-md-6">
      <div class="card card-body">
        <h2 class="text-red"><i class="fab fa-servicestack"></i> Verify</h2>
        <small>Verify your account to login</small>
        <br>
        <form #verifyForm="ngForm" (ngSubmit)="onVerifyClick()">
          <div class="form-group">
            <input type="text" name="email" #name="ngModel" class="form-control" placeholder="Your email here" required
              [(ngModel)]="emailForm">
          </div>
          <div class="form-group">
            <input type="text" name="name" #name="ngModel" class="form-control" placeholder="Enter the token" required
              [(ngModel)]="verifyToken">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Verify</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
<app-footer></app-footer>
