<div class="container p-3 mt-5">
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <div class="circle4"></div>
</div>
<div class="container-fluid text-center">
  <div class="footer-top p-5">
    <div class="button-container text-center">
      <button type="button" (click)="openInstagram()" class="social"><i class="fab fa-instagram fa-2x"></i></button>
      <button type="button" (click)="openGithub()" class="social"><i class="fab fa-github fa-2x"></i></button>
      <button type="button" (click)="openLinkedin()" class="social"><i class="fab fa-linkedin-in fa-2x"></i></button>
      <button type="button" (click)="openPortfolio()" class="social"><i class="fas fa-globe fa-2x"></i></button>
    </div>
  </div>
  <div class="footer-bottom p-3">
      <i class="fab fa-servicestack"></i> Tracker.com | &copy; {{year}} All Rights Reserved
  </div>
</div>
